*{
    margin: 0;
    padding: 0;
    font-family: 'Bakbak One', cursiva;
    
}

body {
   background-color: #040F58;
   /*background: url(./fondoPrueba.jpg), no-repeat, center;*/
   /*background: rgb(9,2,134);
   background: radial-gradient(circle, rgba(9,2,134,1) 31%, rgba(29,50,207,1) 88%, rgba(0,212,255,1) 100%);*/

}
.contenedorControles {
    display: flex;
    justify-content: space-between;
    padding: 2rem; 


}

#circulo{ 
    color: #0AFF96;
    font-size: 2rem;
    stroke: #0AFF96;
    position: relative;
}

#campana {
    color: #FFFFFF;
    font-size: 1.7rem;
}
span{
    color: #FFFFFF;
}
.imagenPersona{
    width: 1.5rem;
    position: absolute;
    border-radius: 50%;
    padding-left:0.3rem;
    padding-top: 0.6rem;
}
.saldo { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    padding:1.5rem;
}

.inputSaldo{
    width:10rem;
    height:3rem;
    border-radius: 1rem;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

.inputSaldo::placeholder{
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
    opacity:0.5;
    
}

.btnAgregar{
    margin: 1.5rem;
    text-decoration: none;
    border: none;
    background: none;
    font-size: 2rem;
    color: #0AFF96;
}


.gastos{
    border: 4px ridge #0AFF96;
    border-radius: 30px;
    max-width: 70vw;
    height: 40vh;
    margin-left: 15vw;
    text-align: center;
    font-size:1.5rem;
    flex-direction: column;
    
}
.ingreseGasto{
    border: 0.5px solid transparent;
    border-radius: 5px;
    text-align: center;
    background-color:transparent;
    color: #FFFFFF;
    font-size: 1rem
}
.ingreseGasto::placeholder{
    color: #FFFFFF;
    opacity:0.5;
    font-size: 1rem
}
.ingreseMonto {
    border: 0.5px solid transparent;
    border-radius: 5px;
    background-color:transparent;
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem
}
.ingreseMonto::placeholder{
    color: #FFFFFF;
    opacity:0.5;
    font-size: 1rem
}
.itemsIngresados {
    margin:0;
    padding: 0;
    padding-left: 2rem;
    text-decoration: none;
}
.borrarItem {
    text-decoration: none;
    background-color:transparent;
    border: none;
}
.borrarItem:hover{
    cursor:pointer;
    font-size: 1.5rem;
}
.itemsIngresados>li {
    padding-top: 1rem;
    width:430px;
}
.itemsIngresados>li>button{
    justify-content: end;
}
.itemsIngresados>li>button>i {
    color: #FFFFFF;


}